.blok {
    text-align: center;
    background-color: var(--background, #111);
    margin: 8px;
    width: 150px;
    height: 200px;
    border-radius: 10px;

    /* Анимация */
    opacity: 0;
    transform: translateY(20px);
    animation: slideFadeIn 0.6s ease forwards;
}

/* Задержка для плавного появления */
.blok:nth-child(1) {
    animation-delay: 0.1s;
}

.blok:nth-child(2) {
    animation-delay: 0.2s;
}

.blok:nth-child(3) {
    animation-delay: 0.3s;
}

.blok:nth-child(4) {
    animation-delay: 0.4s;
}

.blok:nth-child(5) {
    animation-delay: 0.5s;
}

.blok:nth-child(6) {
    animation-delay: 0.6s;
}

.blok:nth-child(7) {
    animation-delay: 0.7s;
}

.blok:nth-child(8) {
    animation-delay: 0.8s;
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
    color: var(--foreground, inherit);
}

.img {
    margin-top: 10px;
    width: 100px;
}

.points {
    margin-top: 10px;
    font-size: 15px;
    color: #00ff1e;
    text-shadow: 0 0 8px rgba(0, 255, 42, 0.8);
}

.achievements {
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}