.navItem {
    position: relative;
    font-size: 10px;
    flex: 1;
    text-align: center;
    padding: 10px 12px;
    cursor: pointer;
    font-weight: 500;
    color: #aaa;
    z-index: 2;
    transition: color 0.3s, text-shadow 0.3s;
  }
  
  .active {
    color: #00ff1e;
    text-shadow: 0 0 8px rgba(0, 255, 42, 0.8);
  }