.name{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.loading{
  width: 30px;
  margin-left: auto;
  margin-right: auto;
}

.previewWrapper {
  width: 80%;
  border: solid;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  background: #111;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}

.previewText {
  overflow: hidden;
  white-space: pre-wrap;
  flex: 1;
  position: relative;
}

.previewText::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, #111, transparent);
}