.img {
    width: 30px;
    margin: 5px;
}


.Lights {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.text {
    font-weight: 600;
    font-size: 30px;
}

.orange {
    color: rgb(255, 89, 0);
    text-shadow: 0 0 8px rgb(255, 153, 0);
}

.grey {
    color: rgb(114, 114, 114);
    text-shadow:  0 0 8px rgb(122, 122, 122);
}

.fullscreen {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal {
    width: 90%;
    max-width: 380px;
    background: white;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    animation: scaleIn 0.25s ease;
}

.modalImg {
    width: 110px;
    margin-bottom: 15px;
}

.number {
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.subtitle {
    font-size: 16px;
    color: #000000;
    margin-top: 5px;
}

.button {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: #ff6a00;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}