.ProfileInfo {
    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;
}

.avatar {
    max-width: 80px;
    max-height: 80px;
    border-radius: 100%;
}

.info {
    margin-left: 30px;
}

.name {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 5px;
}

.glasses {
    color: #00ff1e;
    text-shadow: 0 0 8px rgba(0, 255, 42, 0.8);
    font-weight: 600;
    font-size: 25px;
}